/* Universal Selector */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Services COntent */
.servBtn {
    font-family: "Passero One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
  }
  .ServHead {
    font-family: "Kenia", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
  }
  
  .ServCar {
    font-family: "Passero One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
  }
  #cardPro{
    width: 25%;
  }



/* Service COntent */
.ServCont {
    font-family: "Passero One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
  }
  
  .card-img-top {
    aspect-ratio: 1/1;
  }
  
  




@media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table {
      font-size: 1.3em;
    }

    th {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }

    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }

    table td::before {
      /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */

      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }


/* Admin COntent */
@media screen and (max-width: 460px) {
    #cardPro{
      width: auto;
    }
    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: fixed;
    }
  
    table caption {
      font-size: 1.5em;
      margin: 0.5em 0 0.75em;
    }
  
    table tr {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      padding: 0.35em;
    }
  
    table th,
    table td {
      padding: 0.625em;
      text-align: center;
    }
  
    table th {
      font-size: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
}




@media screen and (max-width: 412px) {
    .direct-contact-container {
      margin-left: -10px;
    }
    .contact-text {
      margin-left: -1px;
    }
    
  #cardPro{
    width: auto;
  }
}





