/* Universal Selector */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}


.page{
  height: 100vh;
}

.serv{
  height: 200vh;
}



/* Services Content */
.service{
  height: 160vh;
}
.hea{
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
img {
  transition: transform 0.2s;
}

img:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.spinner {
  position: absolute;
  left: 50%;
  bottom: 45%;
}

.servBtn {
  font-family: "Passero One", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
}

.ServHead {
  font-family: "Kenia", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

.ServCar {
  font-family: "Passero One", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
}

#cardPro {
  width: 25%;
}

/* Service Content */
.ServCont {
  font-family: "Passero One", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
}

.card-img-top {
  aspect-ratio: 1/1;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table {
    font-size: 1.3em;
  }

  th {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.AdiCont {
  animation: slideInRight 0.8s ease forwards;
  opacity: 0;
}

.AdiCont.loaded {
  animation-delay: 0.5s;
  opacity: 1;
}

/* Admin Content */
@media screen and (max-width: 460px) {
  #cardPro {
    width: auto;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
  }

  table th,
  table td {
    padding: 0.625em;
    text-align: center;
  }

  table th {
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 412px) {
  .direct-contact-container {
    margin-left: -10px;
  }

  .contact-text {
    margin-left: -1px;
  }

  #cardPro {
    width: auto;
  }
}





